pane_frames false

theme "kanagawa_wave"

themes {
  kanagawa_wave {
    bg "#2a2a37"
    fg "#363646" //Bottom tab background
    black   "#16161D" //title bar background, bottom tab text
    red     "#c34043"
    green   "#76946A" //active pane, top tab identifier bq
    yellow  "#c0a36e"
    blue    "#7e9cd8"
    magenta "#957fb8"
    cyan    "#6a9589"
    white   "#c8c093" // title bar text
    orange  "#FFA066" // pane selector
  }
}
